<div id="<%= dom_id property %>">
  <p>
    <strong>Name:</strong>
    <%= property.name %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= property.length %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= property.width %>
  </p>

</div>
